.signup-container{
    width:95%;
    margin: 0 auto 0;
    margin-top: 2rem;
}

.register-label{
    padding:1rem 0;
    font-weight: 600;
    font-family: 'Inter',sans-serif;
}
.signup-form-container{
    display:flex;
    flex-direction: column;
    padding:1rem;
    justify-content: center; 
    width: 100%;
    background-color: #8BC6EC;
    border: 1px solid black;
    border-radius: 10px;
}

.signup-label{
    padding:1rem 0;
    font-weight: 600;
    font-size:x-large;
}

.signup-input{
    border-radius: 10px;
    font-family: 'Inter',sans-serif;
    font-size: x-large;
}

.signup-submit{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(100, 62, 62);
    margin: 0.5rem 0;
    font-weight: bold;
    font-family: 'Inter',sans-serif;
}
