.image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
.image-wrapper {
  width: 30%;
  margin-bottom: 1rem;
  position: relative;
}

.image-wrapper img {
  width: 100%;
}

.image-index {
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
}

.image-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}