.navbar{
  background-color: #e3f2fd;
}

.navbar-brand{
  display: flex;
  align-items: center;
  text-align: center;
}
 .navbar-dark .nav-item .nav-link {
  color: #fff;
  cursor:pointer;
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

strong.username{
  padding:10px;
  pointer-events: none;
  font-weight: 700;
}

i{
  font-style: normal;
}
